<ion-header>
  <ion-navbar>
    <ion-title>Imágenes del producto</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Imágenes</h2>
  <ion-grid>
    <ion-row>
      <div *ngIf="!images?.length > 0">
          <p>A continuación, por favor agregue por lo menos una foto para registrar su producto.</p>
          <p>Puede selecconar una foto de su galería, o tomar una foto con su cámara</p>
      </div>

      <ion-col col-6 col-md-4 col-xl-3 *ngFor="let image of images">
        <img *ngIf="images?.length > 0" src="{{image}}" class="image-container">
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab bottom left>
    <button ion-fab color="secondary" [disabled]="images?.length > 2">
      <ion-icon name="image"></ion-icon>
    </button>
    <ion-fab-list side="right">
      <button ion-fab (click)="openCamera()"><ion-icon name="camera"></ion-icon></button>
      <button ion-fab (click)="pickFromGallery()"><ion-icon name="images"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab bottom right>
    <button ion-fab color="primary" [disabled]="images?.length < 1" (click)="uploadImages()">
      <ion-icon name="cloud-upload"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
